/*******************
     VARIABLES
******************/
/***************
     TEXT
****************/
$primary-text-color: #000000;
$light-black-tx: #191516;
$secondary-text-color: #A6A6A6;
$third-text-color: #ffffff;
$fill-color-one: #ff4612;

/****************
    BACKGROUND
****************/
$primary-bg: #ffffff;
$secondary-bg: #ff4612;
$third-bg: #f9f9f9;
$hover-bg: white;
$lightBlack-bg: #1e1e1e;
$purple-bg: #ef2853;
$light-grey-bg: lightgray;