/*******************
     VARIABLES
******************/
$primary-text-color: #000000;
$secondary-text-color: #A6A6A6;
$third-text-color: #ffffff;
$fill-color-one: #ff4612;


$primary-bg: #ffffff;
$secondary-bg: #ff4612;
$third-bg: #f9f9f9;